*{
    box-sizing: border-box;
    text-align: center;
    

}
body{
    background-color: #090a00 !important;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    background-attachment: fixed;
}
.navCollapse{
    color:white;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    transition-duration: .1s;
}
nav{
    position:relative;
    top:0;
    z-index: 999;
    background-color: orange;
  
    
}
.bg-orange{
    background-color: orange;
}
.cat{
    float:left;
    margin:10px;
    width:180px;
    height:230px;
    border-radius: 5px;
    box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.1);
-webkit-box-shadow: 1px -1px 22px 5px rgba(0,0,0,.1);
-moz-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.1);
background-color: white;
}
.cat:hover{
    transition-duration: .5s ;
    cursor: pointer;
    box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-webkit-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-moz-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
}
#preGame{
    
    background-color: white;
    
  
   
}
#gameRow{
    min-height:100vh;
}
/* #preGame header{
=
  
} */

#carouselExample{

    /* background-color: white; */
    display:none;
    height:300px;

}
@media (min-width: 992px) {
    #carouselExample{
        display:block;
    }
    .leaderboard-container{
        display:block;
    }
    .quickstart{
    margin:10% 5% 5% 10%;
    height: 50vh;
    background-image: url("https://source.unsplash.com/random/850x500/?knowledge");
    }
    .news-container{
        display: block;
    }
    nav{
        height:20vh;
        background-image: url("./border.png");
        background-size: 150%;
        background-position: -2px 95%;
        background-color: white;
    }
} 
#categories{
    padding-left:4.75vw;
}
.carousel-control-prev{
    justify-content: right !important ;
    
    width: 4.5vw !important;
}
.carousel-control-next{
    justify-content: left !important ;
   
    width: 4.5vw !important;
}
.carousel-control-prev-icon{
    background-color: rgba(255,165,0,.5) !important;
    border-radius: 5px;
    padding: 25px ;
}
.carousel-control-next-icon{
    background-color: rgba(255,165,0,.5) !important;
    border-radius: 5px;
    padding: 25px ;
}

input{
    color:black;
}
.nav-item{
    margin:1vw;
    font-size: small;
}
.answers{
  height: 335px;
}
.current-question{
    
padding:2vh;
}
#options,.score{
    width: 100%;
    padding:2vh;
    color:orange;
}
.answer,.next{
   
   width: 100%;
    background-color: orange;
    border-color: orange;
    color:white;
    padding: 2vh;
    transition-duration: .5s;
   
    
   
}
.next{
    width: 100%;
    background-color: green;
    border-color: green;
    color:white;
    padding: 2vh;
    transition-duration: .5s;
}
.reset{
    width: 100%;
    background-color: red;
    border-color: red;
    color:white;
    padding: 2vh;
    transition-duration: .5s;
}
.reset:hover{
    background-color: rgba(255,0,0,.5);
}
.next:hover{
    background-color: rgba(0,255,0,.5);
}
#game{
    margin-top: 10vh !important;
    
   
}
.nav-link{
    margin: 2vh;
}
#game *{
    border-radius:15px;
}
    .gameContainer{
        background-color: white;
        height: 100vh;
        border-radius: 15px;
        margin-top: 5vh;
    }
    @media (min-width:992px){
        .gameContainer{
            max-height:715px;
            max-width:50vw;
        }
    }
.row,.col,.container-fluid,.col-lg-10{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.answer:hover{
   
 
    background-color: rgba(255,165,0,.5);
    border-color: rgba(255,165,0,0);
    transition-duration: .5s;
   
}
.quickstart{
    margin:1vh 0 0 0;
    display:flex;
 
    align-items: end;
    
    color: #ffa500;
   
    width:100%;
    height: 25vh;
    background-image: url("https://source.unsplash.com/random/425x250/?knowledge");
    overflow: hidden;
    background-size:150% 150%;
    background-position: center;
    border-radius:5px;
    transition-duration: .5s;

   

}

.quickstart:hover{
    cursor: pointer;
    background-size:125% 125%;
    
    color:white;
    border-radius:10px;
    box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-webkit-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-moz-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
}
.quickstart:hover .label{
    background-color: rgba(255,165,0,.5);
    
}
.quickstart .label{
    padding: 2vh 5vh 3vh 5vh;
    margin:0;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    text-decoration: underline;
    background-color: rgba(255 ,255,255,.2);

}

.recommended-container{
    margin-top: 5%;
}

.recommended{
    transition-duration: .5s ;
display: flex;
align-items: center;
border-bottom: 1px solid rgba(0,0,0,.1);

} 

.recommended *{
    margin:1vh;
}
header{
    border-bottom:3px solid rgba(255,165,0,.5);
}

.recommended:hover{
   
    box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-webkit-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-moz-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
cursor:pointer;
}

.leaderboard-container{
    margin:10% 5% 5% 15%;
    display:none;
}
.leaderboard-entry{
    display:flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.leaderboard-entry *{
    margin: 1vh
}
.news-container{
    margin-top: 5vh;
   margin-left:5%;
   display: none;
 
}
.news-container header{
    margin-bottom: 5vh;

 
}

.news-entry{ 
    color:white;
    padding: 0 !important;;
    margin: 5% 1vw 5% 1vw;
    width:100%;
    height:25vh;
    background-image: url("https://source.unsplash.com/random/425x250/?knowledge");
    overflow: hidden;
    background-size:150% 150%;
    background-position: center;
    border-radius:5px;
    transition-duration: .5s;
    align-items: end;
    display:flex;
}
.news-title{
    padding: 2vh 5vh 3vh 5vh ;
    margin:0;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    
    background-color: rgba(0 ,0,0,.3) !important;
}
.news-entry:hover{
    text-decoration: underline;
    cursor: pointer;
    background-size:125% 125%;
    
    color:white;
    border-radius:10px;
    box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-webkit-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-moz-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
}