*{
    box-sizing: border-box;
    text-align: center;
    

}
.bg-primary{
    background-color: #157A6E !important;
}
.cat{
    float:left;
    margin:10px;
    width:180px;
    height:230px;
    border-radius: 5px;
    box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-webkit-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
-moz-box-shadow: 1px -1px 22px 5px rgba(0,0,0,0.41);
}
#preGame{
    justify-content: left;
}
#preGame header{
    width:100%;
    justify-content: left;
}

#carouselExample{
    height:300px;

}
#categories{
    padding-left:48px;
}
.carousel-control-prev{
    justify-content: left !important ;
    
    width: 48px !important;
}
.carousel-control-next{
    justify-content: right !important ;
   
    width: 48px !important;
}
.carousel-control-prev-icon{
    background-color: rgba(255,165,0,.5) !important;
    border-radius: 5px;
    padding: 25px ;
}
.carousel-control-next-icon{
    background-color: rgba(255,165,0,.5) !important;
    border-radius: 5px;
    padding: 25px ;
}

input{
    color:black;
}
.nav-item{
    margin:1vw;
    font-size: small;
}
.answers{
  height: 335px;
}
.current-question{
    
padding:2vh;
}
#options,.score{
    width: 100%;
    padding:2vh;
    color:white;
}
.answer,.next{
   
   width: 100%;
    background-color: orange;
    border-color: orange;
    color:white;
    padding: 2vh;
    transition-duration: .5s;
   
    
   
}
.next{
    width: 100%;
    background-color: green;
    border-color: green;
    color:white;
    padding: 2vh;
    transition-duration: .5s;
}
.reset{
    width: 100%;
    background-color: red;
    border-color: red;
    color:white;
    padding: 2vh;
    transition-duration: .5s;
}
.reset:hover{
    background-color: rgba(255,0,0,.5);
}
.next:hover{
    background-color: rgba(0,255,0,.5);
}
#game{
    margin-top: 10vh !important;
    background-color: #0d6efd;
   
}
.nav-link{
    margin: 2vh;
}
#game *{
    border-radius:15px;
}
    .gameContainer{
        height: 100vh;
        border-radius: 15px;
        margin-top: 5vh;
    }
    @media (min-width:992px){
        .gameContainer{
            max-height:715px;
            max-width:50vw;
        }
    }
.row,.col,.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0 !important;
}

.answer:hover{
   
 
    background-color: rgba(255,165,0,.5);
    border-color: rgba(255,165,0,0);
    transition-duration: .5s;
   
}



/* 
.container{
    font-size: medium;
} */